* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 236, 241);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}